@import url('./2-form.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  list-style-type: none;
}

.gallery-image:hover {
  cursor: url('../../assets/hand.svg'), auto;
  transition: 500ms linear;
  transform: scale(1.044444);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.lb {
  background-color: rgba(46, 47, 66, 0.80);
}

.lb .sl-counter {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff !important;
}
